body{
    padding: 20px;
    font-size: 100%;
}
h1{
    text-align: center;
    font-size: 175%;
}
section{
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    padding-top: 0px;
    padding-right: 0px;
}
.chicken{
    background-color: #88aabb;
}
.beef{
    background-color: #aabb65;
}
.sushi{
    background-color: #ddb865;
}
div{
    position: relative;
    right: -70%; 
    background-color: #00564f;
    width: 30%;
    line-height: 180%;
    text-align: center; 
    font-size: 125%;
}
@media (min-width:992px){
    section{
        width: 30%;
    }
}
@media (min-width:768px) and (max-width:991px){
    .chicken{
        width: 45%;
    }
    .beef{
        width: 45%;
    }
    .sushi{
        width: 93%;
    }
}
@media (max-width:767px){
    section{
        width: 80%;
    }
}
